In [547]:
import pandas as pd
import numpy as np
import matplotlib as plt
import warnings
warnings.filterwarnings('ignore')
#importing the required libraries

In [548]:
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('max_colwidth',-1)

In [549]:
df=pd.read_csv('wbbl_3010.csv')
#extracting the ball by ball WBBL dataset

In [550]:
df.tail()

       match_id   season  start_date                     venue  innings  ball         batting_team    bowling_team       striker   non_striker    bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
90764  1387190   2023/24  01-11-2023  Junction Oval, Melbourne  2        19.2  Melbourne Renegades  Sydney Thunder  SJ Coyte      JE Dooley     SL Bates  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90765  1387190   2023/24  01-11-2023  Junction Oval, Melbourne  2        19.3  Melbourne Renegades  Sydney Thunder  SJ Coyte      JE Dooley     SL Bates  1             0      NaN    NaN      NaN   NaN      NaN       run out     SJ Coyte        NaN                NaN                     NaN
90766  1387190   2023/24  01-11-2023  Junction Oval, Melbourne  2        19.4  Melbourne Renegades  Sydney Thunder  RK O'Donnell  JE Dooley     SL Bates  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90767  1387190   2023/24  01-11-2023  Junction Oval, Melbourne  2        19.5  Melbourne Renegades  Sydney Thunder  RK O'Donnell  JE Dooley     SL Bates  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90768  1387190   2023/24  01-11-2023  Junction Oval, Melbourne  2        19.6  Melbourne Renegades  Sydney Thunder  JE Dooley     RK O'Donnell  SL Bates  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN

In [551]:
df_s9=df[df['season']=='2023/24']
#the dataframe df_s9 contains the ball by ball information for the season 2023/24

In [552]:
df_s9.head()

       match_id   season  start_date                      venue  innings  ball     batting_team   bowling_team      striker  non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86361  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        0.1   Melbourne Stars  Sydney Sixers  SIR Dunkley  MM Lanning   L Cheatle  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86362  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        0.2   Melbourne Stars  Sydney Sixers  SIR Dunkley  MM Lanning   L Cheatle  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86363  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        0.3   Melbourne Stars  Sydney Sixers  SIR Dunkley  MM Lanning   L Cheatle  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86364  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        0.4   Melbourne Stars  Sydney Sixers  SIR Dunkley  MM Lanning   L Cheatle  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86365  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        0.5   Melbourne Stars  Sydney Sixers  MM Lanning   SIR Dunkley  L Cheatle  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0

In [553]:
df_s9.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False).head()
#Top Run Getters so far

striker
GM Harris       257
EA Perry        189
AC Jayangani    177
KM Mack         171
TT Beaumont     167
Name: runs_off_bat, dtype: int64

In [554]:
df_s9.groupby(['bowler'])['wicket_type'].count().sort_values(ascending=False).head()
#Top Wicket Takers so far (includes run outs occurred if any)

bowler
L Cheatle       11
A Gardner       11
JL Jonassen     9
A Sutherland    9
ML Schutt       9
Name: wicket_type, dtype: int64

In [555]:
df_s9_pp1=df_s9[df_s9['ball']<4]
#Powerplay dataset

In [556]:
pp1_batters=pd.DataFrame(df_s9_pp1.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [557]:
pp1_batters=pp1_batters.merge(pd.DataFrame(df_s9_pp1.groupby(['striker'])['ball'].count()),on='striker')

In [558]:
pp1_batters['strike_rate']=100*(pp1_batters['runs_off_bat']/pp1_batters['ball'])

In [559]:
pp1_batters=pp1_batters[pp1_batters['ball']>15]

In [560]:
pp1_batters.sort_values(by='strike_rate',ascending=False,inplace=True)

In [561]:
pp1_batters=pp1_batters.merge(pd.DataFrame(df_s9_pp1.groupby(['striker'])['player_dismissed'].count()),on='striker')

In [562]:
pp1_batters.reset_index(inplace=True)

In [563]:
pp1_batters.rename(columns={'player_dismissed':'dismissals'},inplace=True)

In [564]:
pp1_batters['average']=pp1_batters['runs_off_bat']/pp1_batters['dismissals']

In [565]:
pp1_batters
#'inf' denotes the player was never dismissed inside the first powerplay and thus had an average of 'infinity'.

            striker  runs_off_bat  ball  strike_rate  dismissals    average
0   GM Harris        86            53    162.264151   0           inf
1   TT Beaumont      91            61    149.180328   0           inf
2   EA Perry         67            46    145.652174   0           inf
3   BL Mooney        72            55    130.909091   2           36.000000
4   TM McGrath       22            17    129.411765   0           inf
5   KM Mack          75            60    125.000000   1           75.000000
6   E Johnston       21            17    123.529412   0           inf
7   T Wilson         58            48    120.833333   0           inf
8   HK Matthews      56            50    112.000000   3           18.666667
9   EJ Villani       51            47    108.510638   0           inf
10  L Winfield-Hill  51            48    106.250000   0           inf
11  L Lee            31            30    103.333333   2           15.500000
12  AC Jayangani     49            49    100.000000   0           inf
13  C Piparo         21            22    95.454545    1           21.000000
14  A Capsey         21            22    95.454545    1           21.000000
15  G Redmayne       27            29    93.103448    3           9.000000
16  MM Lanning       42            50    84.000000    2           21.000000
17  L Wolvaardt      39            49    79.591837    3           13.000000
18  G Voll           17            22    77.272727    1           17.000000
19  SIR Dunkley      25            33    75.757576    3           8.333333
20  SW Bates         34            52    65.384615    3           11.333333

In [566]:
24*(sum(df_s9_pp1['runs_off_bat'])/len(df_s9_pp1))
#average first powerplsy score at WBBL 2023/24 is 25

25.17377731529657

In [567]:
pp1_batters=pp1_batters.merge(pd.DataFrame(df_s9.groupby(['striker'])['runs_off_bat'].sum()),on='striker')

In [568]:
pp1_batters=pp1_batters.merge(pd.DataFrame(df_s9.groupby(['striker'])['ball'].count()),on='striker')

In [569]:
pp1_batters=pp1_batters.merge(pd.DataFrame(df_s9.groupby(['striker'])['player_dismissed'].count()),on='striker')

In [570]:
pp1_batters.rename(columns={'runs_off_bat_x':'runs_pp1','ball_x':'balls_pp1','runs_off_bat_y':'total_runs',
                            'ball_y':'total_balls'},inplace=True)

In [571]:
pp1_batters['overall_sr']=100*(pp1_batters['total_runs']/pp1_batters['total_balls'])

In [572]:
pp1_batters['overall_avg']=pp1_batters['total_runs']/pp1_batters['player_dismissed']

In [573]:
pp1_batters['sr_difference']=-pp1_batters['strike_rate']+pp1_batters['overall_sr']

In [574]:
pp1_batters
#top batters in the powerplay (overs 1-4)

            striker  runs_pp1  balls_pp1  strike_rate  dismissals    average  total_runs  total_balls  player_dismissed  overall_sr  overall_avg  sr_difference
0   GM Harris        86        53         162.264151   0           inf        257         135          4                 190.370370  64.250000    28.106219
1   TT Beaumont      91        61         149.180328   0           inf        167         120          5                 139.166667  33.400000   -10.013661
2   EA Perry         67        46         145.652174   0           inf        189         139          4                 135.971223  47.250000   -9.680951
3   BL Mooney        72        55         130.909091   2           36.000000  161         107          5                 150.467290  32.200000    19.558199
4   TM McGrath       22        17         129.411765   0           inf        96          80           3                 120.000000  32.000000   -9.411765
5   KM Mack          75        60         125.000000   1           75.000000  171         136          4                 125.735294  42.750000    0.735294
6   E Johnston       21        17         123.529412   0           inf        28          23           1                 121.739130  28.000000   -1.790281
7   T Wilson         58        48         120.833333   0           inf        105         98           4                 107.142857  26.250000   -13.690476
8   HK Matthews      56        50         112.000000   3           18.666667  63          63           5                 100.000000  12.600000   -12.000000
9   EJ Villani       51        47         108.510638   0           inf        118         89           2                 132.584270  59.000000    24.073631
10  L Winfield-Hill  51        48         106.250000   0           inf        70          74           3                 94.594595   23.333333   -11.655405
11  L Lee            31        30         103.333333   2           15.500000  117         75           4                 156.000000  29.250000    52.666667
12  AC Jayangani     49        49         100.000000   0           inf        177         148          4                 119.594595  44.250000    19.594595
13  C Piparo         21        22         95.454545    1           21.000000  29          29           2                 100.000000  14.500000    4.545455
14  A Capsey         21        22         95.454545    1           21.000000  123         115          5                 106.956522  24.600000    11.501976
15  G Redmayne       27        29         93.103448    3           9.000000   65          59           4                 110.169492  16.250000    17.066043
16  MM Lanning       42        50         84.000000    2           21.000000  79          77           5                 102.597403  15.800000    18.597403
17  L Wolvaardt      39        49         79.591837    3           13.000000  106         90           5                 117.777778  21.200000    38.185941
18  G Voll           17        22         77.272727    1           17.000000  112         113          5                 99.115044   22.400000    21.842317
19  SIR Dunkley      25        33         75.757576    3           8.333333   33          43           4                 76.744186   8.250000     0.986610
20  SW Bates         34        52         65.384615    3           11.333333  42          66           5                 63.636364   8.400000    -1.748252

In [575]:
#Players below E Johnston are eliminated as they fall below the average strike rate for this phase 
#which is clearly the fundamental requirement for our hard hitting opener.

In [576]:
#EA Perry, GM Harris, TT Beaumont, BL Mooney,  are all front runners for this position 
#all have Strike rates above 130 and dismissals either 0 or 2.
#Highest Strike Rate : Grace Harris
#also a striking feature is how Grace Harris alleviates her game after the powerplay with a Strike Rate of 194 & avg of 81.

In [577]:
#Therefore Opener 1: Grace Harris[Heat]

In [578]:
#contendors for opener 2 are : BL Mooney, AC Jayangani, EJ Villani, EA Perry, L Lee
#Mooney, Lee and Villani have great differentials of overall and powerplay 1 strike rate.
#they also have great averages which shows the tendency for big scores.
#but Mooney is equally dangerous in both phases and takes her game to a different level with an overall SR of 164.

In [579]:
#Therefore Opener 2: Beth Mooney[Scorchers]

In [580]:
df_s9_batters3=df_s9[(df_s9['ball']>4) & (df_s9['ball']<12)]

In [581]:
df_s9_batters3
#dataset for overs:  4-12

       match_id   season  start_date                      venue  innings  ball         batting_team    bowling_team       striker  non_striker         bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86385  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.1   Melbourne Stars      Sydney Sixers   MM Lanning    SIR Dunkley  M Brown        1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86386  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.2   Melbourne Stars      Sydney Sixers   SIR Dunkley   MM Lanning   M Brown        0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86387  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.3   Melbourne Stars      Sydney Sixers   SIR Dunkley   MM Lanning   M Brown        0             0      NaN    NaN      NaN   NaN      NaN       caught      SIR Dunkley     NaN                NaN                      0.0
86388  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.4   Melbourne Stars      Sydney Sixers   A Capsey      MM Lanning   M Brown        4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86389  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.5   Melbourne Stars      Sydney Sixers   A Capsey      MM Lanning   M Brown        0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
...        ...       ...         ...                        ... ..        ...               ...                ...        ...             ...       ...       ..            ..       ...    ..       ..    ..       ..       ...         ...              ..                 ..                      ...
90714  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.2  Melbourne Renegades  Sydney Thunder  TT Beaumont   G Wareham    HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       caught      TT Beaumont     NaN                NaN                      1.0
90715  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.3  Melbourne Renegades  Sydney Thunder  G Prestwidge  G Wareham    HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       bowled      G Prestwidge    NaN                NaN                      1.0
90716  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.4  Melbourne Renegades  Sydney Thunder  JE Dooley     G Wareham    HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
90717  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.5  Melbourne Renegades  Sydney Thunder  JE Dooley     G Wareham    HJ Darlington  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
90718  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.6  Melbourne Renegades  Sydney Thunder  G Wareham     JE Dooley    HJ Darlington  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0

[1831 rows x 23 columns]

In [582]:
batter3=pd.DataFrame(df_s9_batters3.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [583]:
batter3=batter3[batter3['runs_off_bat']>30]

In [584]:
batter3=batter3.merge(pd.DataFrame(df_s9_batters3.groupby(['striker'])['ball'].count()),on='striker',how='left')

In [585]:
batter3['strike_rate']=batter3['runs_off_bat']/batter3['ball']*100

In [586]:
batter3=batter3.merge(pd.DataFrame(df_s9_batters3.groupby(['striker'])['player_dismissed'].count()),on='striker')

In [587]:
batter3['avg']=batter3['runs_off_bat']/batter3['player_dismissed']

In [588]:
batter3.sort_values(by='strike_rate',ascending=False,inplace=True)

In [589]:
batter3.reset_index(inplace=True)

In [590]:
batter3=batter3.merge(pd.DataFrame(df_s9.groupby(['striker'])['runs_off_bat'].sum()),on='striker')

In [591]:
batter3.rename(columns={'runs_off_bat_x':'runs_4_10','runs_off_bat_y':'total_runs','runs_off_bat':'runs_pp'},inplace=True)

In [592]:
batter3=batter3.merge(pd.DataFrame(df_s9_pp1.groupby(['striker'])['runs_off_bat'].sum()),on='striker')

In [593]:
batter3['percentage_4_10']=batter3['runs_4_10']/batter3['total_runs']*100

In [594]:
batter3.rename(columns={'runs_off_bat_x':'runs_4_10','runs_off_bat_y':'total_runs','runs_off_bat':'runs_pp'},inplace=True)

In [595]:
batter3['percentage_pp']=batter3['runs_pp']/batter3['total_runs']*100

In [596]:
batter3=batter3[batter3['percentage_pp']<30]

In [597]:
batter3
#Top Number 3 batters

         striker  runs_4_10  ball  strike_rate  player_dismissed        avg  total_runs  runs_pp  percentage_4_10  percentage_pp
2   L Lee         39         23    169.565217   1                 39.000000  117         31       33.333333        26.495726
8   AC Jayangani  115        90    127.777778   3                 38.333333  177         49       64.971751        27.683616
10  A Gardner     74         60    123.333333   4                 18.500000  122         8        60.655738        6.557377
11  SFM Devine    63         52    121.153846   2                 31.500000  159         1        39.622642        0.628931
12  JE Dooley     63         52    121.153846   4                 15.750000  89          4        70.786517        4.494382
13  A Capsey      93         79    117.721519   2                 46.500000  123         21       75.609756        17.073171
14  BE Patterson  63         56    112.500000   2                 31.500000  110         0        57.272727        0.000000
15  M Darke       72         65    110.769231   3                 24.000000  108         1        66.666667        0.925926
16  M du Preez    63         57    110.526316   4                 15.750000  67          4        94.029851        5.970149
17  G Voll        63         60    105.000000   3                 21.000000  112         17       56.250000        15.178571
19  TM McGrath    40         44    90.909091    3                 13.333333  96          22       41.666667        22.916667
20  C Webb        31         35    88.571429    1                 31.000000  105         5        29.523810        4.761905

In [598]:
#hard to look past AC Jayangani, even though she has opened in this WBBL so far
#L Lee's 91 out of 117 runs have come in inning
#Gardner has not batted at her explosive best and a SR of 125 in this phase shows exactly that.
#other contendors don't have the runs or the SR to defeat Jayangani in this race.

In [599]:
#Batter3: Chamari Atthapattu[Thunder]

In [600]:
df_s9_batter4=df_s9[(df_s9['ball']>4) & (df_s9['ball']<15)]

In [601]:
df_s9_batter4
#dataset for overs 5-15

       match_id   season  start_date                      venue  innings  ball         batting_team    bowling_team      striker  non_striker         bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86385  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.1   Melbourne Stars      Sydney Sixers   MM Lanning   SIR Dunkley  M Brown        1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86386  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.2   Melbourne Stars      Sydney Sixers   SIR Dunkley  MM Lanning   M Brown        0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86387  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.3   Melbourne Stars      Sydney Sixers   SIR Dunkley  MM Lanning   M Brown        0             0      NaN    NaN      NaN   NaN      NaN       caught      SIR Dunkley     NaN                NaN                      0.0
86388  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.4   Melbourne Stars      Sydney Sixers   A Capsey     MM Lanning   M Brown        4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86389  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.5   Melbourne Stars      Sydney Sixers   A Capsey     MM Lanning   M Brown        0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
...        ...       ...         ...                        ... ..        ...               ...                ...        ...            ...       ...       ..            ..       ...    ..       ..    ..       ..       ...         ...              ..                 ..                      ...
90732  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        14.2  Melbourne Renegades  Sydney Thunder  G Wareham    JE Dooley    HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       caught      G Wareham       NaN                NaN                     NaN
90733  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        14.3  Melbourne Renegades  Sydney Thunder  SJ Coyte     JE Dooley    HJ Darlington  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90734  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        14.4  Melbourne Renegades  Sydney Thunder  JE Dooley    SJ Coyte     HJ Darlington  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90735  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        14.5  Melbourne Renegades  Sydney Thunder  SJ Coyte     JE Dooley    HJ Darlington  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90736  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        14.6  Melbourne Renegades  Sydney Thunder  JE Dooley    SJ Coyte     HJ Darlington  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN

[2476 rows x 23 columns]

In [602]:
batter4=pd.DataFrame(df_s9_batter4.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [603]:
batter4=batter4.merge(pd.DataFrame(df_s9_batter4.groupby(['striker'])['ball'].count()),on='striker')

In [604]:
batter4=batter4[batter4['runs_off_bat']>50]

In [605]:
batter4['strike_rate']=batter4['runs_off_bat']/batter4['ball']*100

In [606]:
batter4=batter4.merge(pd.DataFrame(df_s9_batter4.groupby(['striker'])['player_dismissed'].count()),on='striker')

In [607]:
batter4['average']=batter4['runs_off_bat']/batter4['player_dismissed']

In [608]:
batter4=batter4.merge(pd.DataFrame(df_s9.groupby(['striker'])['runs_off_bat'].sum()),on='striker')

In [609]:
batter4.rename(columns={'runs_off_bat_x':'runs_4_15','runs_off_bat_y':'total_runs'},inplace=True)

In [610]:
batter4['percentage_4_15']=batter4['runs_4_15']/batter4['total_runs']*100

In [611]:
batter4=batter4[batter4['percentage_4_15']>60]

In [612]:
batter4.reset_index(inplace=True)

In [613]:
batter4
#Top Number 4 batters

         striker  runs_4_15  ball  strike_rate  player_dismissed    average  total_runs  percentage_4_15
0   AC Jayangani  128        99    129.292929   4                 32.000000  177         72.316384
1   EA Perry      116        87    133.333333   3                 38.666667  189         61.375661
2   SFM Devine    110        81    135.802469   2                 55.000000  159         69.182390
3   A Capsey      102        93    109.677419   4                 25.500000  123         82.926829
4   A Gardner     93         69    134.782609   4                 23.250000  122         76.229508
5   M Darke       85         77    110.389610   4                 21.250000  108         78.703704
6   CL Tryon      84         75    112.000000   3                 28.000000  124         67.741935
7   H Kaur        81         88    92.045455    3                 27.000000  106         76.415094
8   BE Patterson  80         67    119.402985   2                 40.000000  110         72.727273
9   G Voll        79         80    98.750000    4                 19.750000  112         70.535714
10  JE Dooley     75         64    117.187500   5                 15.000000  89          84.269663
11  AE Jones      69         56    123.214286   2                 34.500000  88          78.409091
12  L Wolvaardt   67         41    163.414634   2                 33.500000  106         63.207547
13  M du Preez    63         57    110.526316   4                 15.750000  67          94.029851
14  ME Bouchier   56         44    127.272727   3                 18.666667  82          68.292683

In [614]:
df_s9_b4_boundaries=df_s9_batter4[(df_s9_batter4['runs_off_bat']==4) | (df_s9_batter4['runs_off_bat']==6)]

In [615]:
df_s9_b4_boundaries

       match_id   season  start_date                      venue  innings  ball         batting_team    bowling_team      striker non_striker         bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86388  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.4   Melbourne Stars      Sydney Sixers   A Capsey     MM Lanning  M Brown        4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86391  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        4.7   Melbourne Stars      Sydney Sixers   MM Lanning   A Capsey    M Brown        4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86396  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        5.5   Melbourne Stars      Sydney Sixers   A Capsey     MM Lanning  A Gardner      4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86398  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        6.1   Melbourne Stars      Sydney Sixers   MM Lanning   A Capsey    M Brown        4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86399  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        6.2   Melbourne Stars      Sydney Sixers   MM Lanning   A Capsey    M Brown        4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
...        ...       ...         ...                        ... ..        ...               ...                ...          ...        ...        ...       ..            ..       ..     ..       ..    ..       ..       ...         ...              ..                 ..                      ...
90713  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.1  Melbourne Renegades  Sydney Thunder  TT Beaumont  G Wareham   HJ Darlington  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
90718  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.6  Melbourne Renegades  Sydney Thunder  G Wareham    JE Dooley   HJ Darlington  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
90722  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        12.4  Melbourne Renegades  Sydney Thunder  G Wareham    JE Dooley   AC Jayangani   4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90723  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        12.5  Melbourne Renegades  Sydney Thunder  G Wareham    JE Dooley   AC Jayangani   6             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90731  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        14.1  Melbourne Renegades  Sydney Thunder  G Wareham    JE Dooley   HJ Darlington  6             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN

[377 rows x 23 columns]

In [616]:
x1=pd.DataFrame(df_s9_b4_boundaries.groupby(['striker'])['runs_off_bat'].count())
x1.rename(columns={'runs_off_bat':'boundaries'},inplace=True)

In [617]:
batter4=batter4.merge(x1,on='striker')

In [618]:
batter4['bpb']=batter4['ball']/batter4['boundaries']

In [619]:
batter4

         striker  runs_4_15  ball  strike_rate  player_dismissed    average  total_runs  percentage_4_15  boundaries        bpb
0   AC Jayangani  128        99    129.292929   4                 32.000000  177         72.316384        21          4.714286
1   EA Perry      116        87    133.333333   3                 38.666667  189         61.375661        18          4.833333
2   SFM Devine    110        81    135.802469   2                 55.000000  159         69.182390        17          4.764706
3   A Capsey      102        93    109.677419   4                 25.500000  123         82.926829        12          7.750000
4   A Gardner     93         69    134.782609   4                 23.250000  122         76.229508        12          5.750000
5   M Darke       85         77    110.389610   4                 21.250000  108         78.703704        11          7.000000
6   CL Tryon      84         75    112.000000   3                 28.000000  124         67.741935        14          5.357143
7   H Kaur        81         88    92.045455    3                 27.000000  106         76.415094        8           11.000000
8   BE Patterson  80         67    119.402985   2                 40.000000  110         72.727273        10          6.700000
9   G Voll        79         80    98.750000    4                 19.750000  112         70.535714        12          6.666667
10  JE Dooley     75         64    117.187500   5                 15.000000  89          84.269663        8           8.000000
11  AE Jones      69         56    123.214286   2                 34.500000  88          78.409091        8           7.000000
12  L Wolvaardt   67         41    163.414634   2                 33.500000  106         63.207547        9           4.555556
13  M du Preez    63         57    110.526316   4                 15.750000  67          94.029851        8           7.125000
14  ME Bouchier   56         44    127.272727   3                 18.666667  82          68.292683        9           4.888889

In [620]:
df_s9_b4_dots=df_s9_batter4[(df_s9_batter4['runs_off_bat']==0) & (df_s9_batter4['extras']==0)]

In [621]:
x2=pd.DataFrame(df_s9_b4_dots.groupby(['striker'])['runs_off_bat'].count())

In [622]:
x2.rename(columns={'runs_off_bat':'dots'},inplace=True)

In [623]:
batter4=batter4.merge(x2,on='striker')

In [624]:
batter4['dots_frequency']=batter4['ball']/batter4['dots']

In [625]:
batter4

         striker  runs_4_15  ball  strike_rate  player_dismissed    average  total_runs  percentage_4_15  boundaries        bpb  dots  dots_frequency
0   AC Jayangani  128        99    129.292929   4                 32.000000  177         72.316384        21          4.714286   42    2.357143
1   EA Perry      116        87    133.333333   3                 38.666667  189         61.375661        18          4.833333   27    3.222222
2   SFM Devine    110        81    135.802469   2                 55.000000  159         69.182390        17          4.764706   23    3.521739
3   A Capsey      102        93    109.677419   4                 25.500000  123         82.926829        12          7.750000   31    3.000000
4   A Gardner     93         69    134.782609   4                 23.250000  122         76.229508        12          5.750000   18    3.833333
5   M Darke       85         77    110.389610   4                 21.250000  108         78.703704        11          7.000000   26    2.961538
6   CL Tryon      84         75    112.000000   3                 28.000000  124         67.741935        14          5.357143   32    2.343750
7   H Kaur        81         88    92.045455    3                 27.000000  106         76.415094        8           11.000000  27    3.259259
8   BE Patterson  80         67    119.402985   2                 40.000000  110         72.727273        10          6.700000   24    2.791667
9   G Voll        79         80    98.750000    4                 19.750000  112         70.535714        12          6.666667   36    2.222222
10  JE Dooley     75         64    117.187500   5                 15.000000  89          84.269663        8           8.000000   11    5.818182
11  AE Jones      69         56    123.214286   2                 34.500000  88          78.409091        8           7.000000   15    3.733333
12  L Wolvaardt   67         41    163.414634   2                 33.500000  106         63.207547        9           4.555556   6     6.833333
13  M du Preez    63         57    110.526316   4                 15.750000  67          94.029851        8           7.125000   20    2.850000
14  ME Bouchier   56         44    127.272727   3                 18.666667  82          68.292683        9           4.888889   17    2.588235

In [626]:
#Jayangani is already at number 3, while Gardner has a very high bpb.
#Sophie Devine has shone at the number 4 position this year despite not being a regular at that position.
#Devine has the best combination of a low bpb and a high dot ball frequency

In [627]:
#Number 4: Sophie Devine[Scorchers]

In [628]:
df_s9_batter5=df_s9[df_s9['ball']>10 ]

In [629]:
df_s9_batter5
#dataset for overs 11-20

       match_id   season  start_date                      venue  innings  ball         batting_team    bowling_team       striker   non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86423  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        10.1  Melbourne Stars      Sydney Sixers   MM Lanning    A Sutherland  LCN Smith  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86424  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        10.2  Melbourne Stars      Sydney Sixers   MM Lanning    A Sutherland  LCN Smith  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86425  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        10.3  Melbourne Stars      Sydney Sixers   A Sutherland  MM Lanning    LCN Smith  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86426  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        10.4  Melbourne Stars      Sydney Sixers   A Sutherland  MM Lanning    LCN Smith  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86427  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        10.5  Melbourne Stars      Sydney Sixers   MM Lanning    A Sutherland  LCN Smith  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
...        ...       ...         ...                        ... ..         ...              ...                ...          ...             ...        ... ..            ..       ..     ..       ..    ..       ..       ...         ...              ..                 ..                      ...
90764  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.2  Melbourne Renegades  Sydney Thunder  SJ Coyte      JE Dooley     SL Bates   2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90765  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.3  Melbourne Renegades  Sydney Thunder  SJ Coyte      JE Dooley     SL Bates   1             0      NaN    NaN      NaN   NaN      NaN       run out     SJ Coyte        NaN                NaN                     NaN
90766  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.4  Melbourne Renegades  Sydney Thunder  RK O'Donnell  JE Dooley     SL Bates   0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90767  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.5  Melbourne Renegades  Sydney Thunder  RK O'Donnell  JE Dooley     SL Bates   1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90768  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.6  Melbourne Renegades  Sydney Thunder  JE Dooley     RK O'Donnell  SL Bates   1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN

[2049 rows x 23 columns]

In [630]:
power_surge=df_s9[df_s9['power_surge']==1.0]

In [631]:
power_surge
#Power Surge Dataset, a 2 over phase that can be opted by the batting side post the 10th over with only 2 fielders outside
#the 30 yard circle.

       match_id   season  start_date                      venue  innings  ball         batting_team    bowling_team       striker non_striker         bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86465  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        17.1  Melbourne Stars      Sydney Sixers   R McKenna     N Faltum    A Gardner      1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
86466  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        17.2  Melbourne Stars      Sydney Sixers   N Faltum      R McKenna   A Gardner      1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
86467  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        17.3  Melbourne Stars      Sydney Sixers   R McKenna     N Faltum    A Gardner      0             0      NaN    NaN      NaN   NaN      NaN       stumped     R McKenna       NaN                NaN                      1.0
86468  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        17.4  Melbourne Stars      Sydney Sixers   KJ Garth      N Faltum    A Gardner      1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
86469  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        17.5  Melbourne Stars      Sydney Sixers   N Faltum      KJ Garth    A Gardner      2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
...        ...       ...         ...                        ... ..         ...              ...                ...        ...           ...          ...     ..            ..       ..     ..       ..    ..       ..       ...         ...              ..                 ..                      ...
90714  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.2  Melbourne Renegades  Sydney Thunder  TT Beaumont   G Wareham   HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       caught      TT Beaumont     NaN                NaN                      1.0
90715  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.3  Melbourne Renegades  Sydney Thunder  G Prestwidge  G Wareham   HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       bowled      G Prestwidge    NaN                NaN                      1.0
90716  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.4  Melbourne Renegades  Sydney Thunder  JE Dooley     G Wareham   HJ Darlington  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
90717  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.5  Melbourne Renegades  Sydney Thunder  JE Dooley     G Wareham   HJ Darlington  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0
90718  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        11.6  Melbourne Renegades  Sydney Thunder  G Wareham     JE Dooley   HJ Darlington  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      1.0

[403 rows x 23 columns]

In [632]:
batter5=pd.DataFrame(df_s9_batter5.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [633]:
batter5=batter5[batter5['runs_off_bat']>40]

In [634]:
batter5=batter5.merge(pd.DataFrame(df_s9_batter5.groupby(['striker'])['ball'].count()),on='striker')

In [635]:
batter5['strike_rate']=batter5['runs_off_bat']/batter5['ball']*100

In [636]:
ps=pd.DataFrame(power_surge.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [637]:
ps.rename(columns={'runs_off_bat':'power_surge_runs'},inplace=True)

In [638]:
batter5=batter5.merge(ps,on='striker')

In [639]:
psb=pd.DataFrame(power_surge.groupby(['striker'])['ball'].count())

In [640]:
psb.rename(columns={'ball':'power_surge_balls'},inplace=True)

In [641]:
batter5=batter5.merge(psb,on='striker')

In [642]:
batter5['surge_strike_rate']=batter5['power_surge_runs']/batter5['power_surge_balls']*100

In [643]:
batter5

               runs_off_bat  ball  strike_rate  power_surge_runs  power_surge_balls  surge_strike_rate
striker
P Litchfield   149           89    167.415730   23                15                 153.333333
G Wareham      136           77    176.623377   28                15                 186.666667
SFM Devine     118           69    171.014493   47                24                 195.833333
CL Tryon       90            58    155.172414   16                8                  200.000000
M Brown        87            74    117.567568   34                27                 125.925926
C Webb         82            68    120.588235   12                11                 109.090909
GM Harris      80            30    266.666667   8                 5                  160.000000
HC Knight      78            58    134.482759   25                13                 192.307692
A Sutherland   78            43    181.395349   27                9                  300.000000
CR Knott       76            49    155.102041   8                 4                  200.000000
AE Jones       75            52    144.230769   8                 8                  100.000000
BE Patterson   72            53    135.849057   8                 9                  88.888889
M Darke        66            38    173.684211   16                7                  228.571429
ME Bouchier    66            47    140.425532   12                5                  240.000000
A King         65            42    154.761905   2                 8                  25.000000
H Kaur         64            48    133.333333   18                12                 150.000000
M Penna        63            60    105.000000   11                14                 78.571429
L Lee          61            28    217.857143   9                 4                  225.000000
SJ Coyte       58            34    170.588235   1                 1                  100.000000
NE Stalenberg  57            32    178.125000   16                9                  177.777778
JL Jonassen    56            50    112.000000   5                 7                  71.428571
A Gardner      54            34    158.823529   11                6                  183.333333
KJ Garth       53            39    135.897436   14                12                 116.666667
EA Perry       50            32    156.250000   6                 3                  200.000000
N Faltum       47            51    92.156863    11                12                 91.666667
A Learoyd      46            28    164.285714   4                 3                  133.333333
G Voll         44            49    89.795918    12                16                 75.000000
AL Edgar       43            49    87.755102    6                 6                  100.000000

In [644]:
df_s9_b5_boundaries=df_s9_batter5[(df_s9_batter5['runs_off_bat']==6) | (df_s9_batter5['runs_off_bat']==4)]

In [645]:
y1=pd.DataFrame(df_s9_b5_boundaries.groupby(['striker'])['runs_off_bat'].count())
y1.rename(columns={'runs_off_bat':'boundaries'},inplace=True)

In [646]:
batter5=batter5.merge(y1,on='striker')

In [647]:
batter5['balls/boundary']=batter5['ball']/batter5['boundaries']

In [648]:
df_s9_b5_dots=df_s9_batter5[(df_s9_batter5['runs_off_bat']==0) ]

In [649]:
y2=pd.DataFrame(df_s9_b5_dots.groupby(['striker'])['runs_off_bat'].count())
y2.rename(columns={'runs_off_bat':'dots'},inplace=True)

In [650]:
batter5=batter5.merge(y2,on='striker')

In [651]:
batter5['dots_frequency']=batter5['ball']/batter5['dots']

In [652]:
batter5.reset_index(inplace=True)

In [653]:
batter5
#top number 5 batters

          striker  runs_off_bat  ball  strike_rate  power_surge_runs  power_surge_balls  surge_strike_rate  boundaries  balls/boundary  dots  dots_frequency
0   P Litchfield   149           89    167.415730   23                15                 153.333333         22          4.045455        26    3.423077
1   G Wareham      136           77    176.623377   28                15                 186.666667         20          3.850000        18    4.277778
2   SFM Devine     118           69    171.014493   47                24                 195.833333         18          3.833333        18    3.833333
3   CL Tryon       90            58    155.172414   16                8                  200.000000         13          4.461538        21    2.761905
4   M Brown        87            74    117.567568   34                27                 125.925926         12          6.166667        30    2.466667
5   C Webb         82            68    120.588235   12                11                 109.090909         9           7.555556        21    3.238095
6   GM Harris      80            30    266.666667   8                 5                  160.000000         13          2.307692        6     5.000000
7   HC Knight      78            58    134.482759   25                13                 192.307692         12          4.833333        19    3.052632
8   A Sutherland   78            43    181.395349   27                9                  300.000000         12          3.583333        8     5.375000
9   CR Knott       76            49    155.102041   8                 4                  200.000000         11          4.454545        17    2.882353
10  AE Jones       75            52    144.230769   8                 8                  100.000000         10          5.200000        17    3.058824
11  BE Patterson   72            53    135.849057   8                 9                  88.888889          10          5.300000        19    2.789474
12  M Darke        66            38    173.684211   16                7                  228.571429         12          3.166667        10    3.800000
13  ME Bouchier    66            47    140.425532   12                5                  240.000000         10          4.700000        17    2.764706
14  A King         65            42    154.761905   2                 8                  25.000000          10          4.200000        15    2.800000
15  H Kaur         64            48    133.333333   18                12                 150.000000         8           6.000000        10    4.800000
16  M Penna        63            60    105.000000   11                14                 78.571429          7           8.571429        21    2.857143
17  L Lee          61            28    217.857143   9                 4                  225.000000         10          2.800000        5     5.600000
18  SJ Coyte       58            34    170.588235   1                 1                  100.000000         8           4.250000        11    3.090909
19  NE Stalenberg  57            32    178.125000   16                9                  177.777778         10          3.200000        11    2.909091
20  JL Jonassen    56            50    112.000000   5                 7                  71.428571          5           10.000000       20    2.500000
21  A Gardner      54            34    158.823529   11                6                  183.333333         8           4.250000        8     4.250000
22  KJ Garth       53            39    135.897436   14                12                 116.666667         7           5.571429        11    3.545455
23  EA Perry       50            32    156.250000   6                 3                  200.000000         8           4.000000        8     4.000000
24  N Faltum       47            51    92.156863    11                12                 91.666667          2           25.500000       17    3.000000
25  A Learoyd      46            28    164.285714   4                 3                  133.333333         6           4.666667        7     4.000000
26  G Voll         44            49    89.795918    12                16                 75.000000          5           9.800000        26    1.884615
27  AL Edgar       43            49    87.755102    6                 6                  100.000000         5           9.800000        23    2.130435

In [654]:
# 3 contendors arise for the number 5 position: G Wareham,CL Tryon, NE Stalenberg, A Sutherland
# Wareham's volume of runs scored is hard to ignore
# Stalenberg's majority of runs have come in just 1 inning but it's hard to ignore her impact but she's looking more of a 
# number 6/7 
# Sutherland overall strike rate and surge strike rate places her miles ahead
# Sutherland's hitting ability and fast bowling giver her a big edge

In [655]:
df_s9_sutherland=df_s9[df_s9['bowler']=='A Sutherland']

In [656]:
sum(df_s9_sutherland['runs_off_bat'])#/len(df_s9_sutherland)*6
#Sutherland's economy

127

In [657]:
len(df_s9_sutherland[df_s9_sutherland['wicket_type'].isin(wareham_outs)])

8

In [658]:
#Sutherland's bowling: 8 wickets, Economy: 6.80, Strike Rate: 15.88, Average:14

In [659]:
#Number 5: Annabel Sutherland[Stars]

In [660]:
df_s9_b6=df_s9[df_s9['ball']>15]

In [661]:
df_s9_b6
#dataset for overs 16-20

       match_id   season  start_date                      venue  innings  ball         batting_team    bowling_team       striker   non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  power_surge
86453  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        15.1  Melbourne Stars      Sydney Sixers   A Sutherland  ME Bouchier   LCN Smith  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86454  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        15.2  Melbourne Stars      Sydney Sixers   A Sutherland  ME Bouchier   LCN Smith  2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86455  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        15.3  Melbourne Stars      Sydney Sixers   A Sutherland  ME Bouchier   LCN Smith  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
86456  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        15.4  Melbourne Stars      Sydney Sixers   A Sutherland  ME Bouchier   LCN Smith  0             0      NaN    NaN      NaN   NaN      NaN       caught      A Sutherland    NaN                NaN                      0.0
86457  1387172   2023/24  19-10-2023  North Sydney Oval, Sydney  1        15.5  Melbourne Stars      Sydney Sixers   R McKenna     ME Bouchier   LCN Smith  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      0.0
...        ...       ...         ...                        ... ..         ...              ...                ...         ...             ...         ... ..            ..       ..     ..       ..    ..       ..       ...         ...              ..                 ..                      ...
90764  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.2  Melbourne Renegades  Sydney Thunder  SJ Coyte      JE Dooley     SL Bates   2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90765  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.3  Melbourne Renegades  Sydney Thunder  SJ Coyte      JE Dooley     SL Bates   1             0      NaN    NaN      NaN   NaN      NaN       run out     SJ Coyte        NaN                NaN                     NaN
90766  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.4  Melbourne Renegades  Sydney Thunder  RK O'Donnell  JE Dooley     SL Bates   0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90767  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.5  Melbourne Renegades  Sydney Thunder  RK O'Donnell  JE Dooley     SL Bates   1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN
90768  1387190   2023/24  01-11-2023  Junction Oval, Melbourne   2        19.6  Melbourne Renegades  Sydney Thunder  JE Dooley     RK O'Donnell  SL Bates   1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                     NaN

[971 rows x 23 columns]

In [662]:
batter6=pd.DataFrame(df_s9_b6.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [663]:
batter6=batter6.merge(pd.DataFrame(df_s9_b6.groupby(['striker'])['ball'].count()),on='striker')

In [664]:
batter6['strike_rate']=batter6['runs_off_bat']/batter6['ball']*100

In [665]:
batter6.sort_values(by='strike_rate',ascending=False,inplace=True)

In [666]:
batter6=batter6[batter6['runs_off_bat']>30]

In [667]:
power_surge_b6=power_surge[power_surge['ball']>15]

In [668]:
psb6=pd.DataFrame(power_surge_b6.groupby(['striker'])['runs_off_bat'].sum())

In [669]:
psb6.rename(columns={'runs_off_bat':'surge_runs'},inplace=True)

In [670]:
batter6=batter6.merge(psb6,on='striker')

In [671]:
psbb6=pd.DataFrame(power_surge_b6.groupby(['striker'])['ball'].count())

In [672]:
psbb6.rename(columns={'ball':'surge_balls'},inplace=True)

In [673]:
batter6=batter6.merge(psbb6,on='striker')

In [674]:
batter6.reset_index(inplace=True)

In [675]:
batter6['surge_sr']=batter6['surge_runs']/batter6['surge_balls']*100

In [676]:
batter6

         striker  runs_off_bat  ball  strike_rate  surge_runs  surge_balls    surge_sr
0   CL Tryon      40            16    250.000000   8           4            200.000000
1   A Sutherland  49            21    233.333333   22          6            366.666667
2   P Litchfield  74            36    205.555556   11          7            157.142857
3   G Wareham     69            35    197.142857   10          7            142.857143
4   TM McGrath    32            17    188.235294   16          7            228.571429
5   A Learoyd     38            21    180.952381   4           3            133.333333
6   SFM Devine    48            27    177.777778   7           5            140.000000
7   SJ Coyte      56            32    175.000000   1           1            100.000000
8   A King        65            41    158.536585   2           7            28.571429
9   HC Knight     56            37    151.351351   25          13           192.307692
10  C Webb        46            31    148.387097   3           3            100.000000
11  KJ Garth      47            33    142.424242   14          12           116.666667
12  M Brown       44            34    129.411765   28          20           140.000000
13  N Faltum      34            29    117.241379   10          8            125.000000

In [677]:
#Sutherland and Devine already are in the team

In [678]:
df_s9_b6_boundaries=df_s9_b6[(df_s9_b6['runs_off_bat']==6) | (df_s9_b6['runs_off_bat']==4)]

In [679]:
a6=pd.DataFrame(df_s9_b6_boundaries.groupby(['striker'])['runs_off_bat'].count())

In [680]:
a6.rename(columns={'runs_off_bat':'boundaries'},inplace=True)

In [681]:
batter6=batter6.merge(a6,on='striker')

In [682]:
df_s9_b6_dots=df_s9_b6[(df_s9_b6['runs_off_bat']==0) ]

In [683]:
d6=pd.DataFrame(df_s9_b6_dots.groupby(['striker'])['runs_off_bat'].count())

In [684]:
d6.rename(columns={'runs_off_bat':'dots'},inplace=True)

In [685]:
batter6=batter6.merge(d6,on='striker')

In [686]:
batter6['bpb']=batter6['ball']/batter6['boundaries']

In [687]:
batter6['dot_frequency']=batter6['ball']/batter6['dots']

In [688]:
batter6
#top number 6 batters

         striker  runs_off_bat  ball  strike_rate  surge_runs  surge_balls    surge_sr  boundaries  dots        bpb  dot_frequency
0   CL Tryon      40            16    250.000000   8           4            200.000000  5           3     3.200000   5.333333
1   A Sutherland  49            21    233.333333   22          6            366.666667  9           4     2.333333   5.250000
2   P Litchfield  74            36    205.555556   11          7            157.142857  11          8     3.272727   4.500000
3   G Wareham     69            35    197.142857   10          7            142.857143  10          8     3.500000   4.375000
4   TM McGrath    32            17    188.235294   16          7            228.571429  5           3     3.400000   5.666667
5   A Learoyd     38            21    180.952381   4           3            133.333333  5           5     4.200000   4.200000
6   SFM Devine    48            27    177.777778   7           5            140.000000  6           7     4.500000   3.857143
7   SJ Coyte      56            32    175.000000   1           1            100.000000  8           11    4.000000   2.909091
8   A King        65            41    158.536585   2           7            28.571429   10          14    4.100000   2.928571
9   HC Knight     56            37    151.351351   25          13           192.307692  10          14    3.700000   2.642857
10  C Webb        46            31    148.387097   3           3            100.000000  7           9     4.428571   3.444444
11  KJ Garth      47            33    142.424242   14          12           116.666667  7           11    4.714286   3.000000
12  M Brown       44            34    129.411765   28          20           140.000000  8           16    4.250000   2.125000
13  N Faltum      34            29    117.241379   10          8            125.000000  1           3     29.000000  9.666667

In [689]:
#Tryon and Devine already feature in the team
#Reamining contendors are Wareham, McGrath, Litchfield
#Wareham has the highest SR , Mcgrath has a very impressive surge SR, Litchfield falls just behind in both categories
#Wareham's leg spin gives her the win in the tiebreaker

In [690]:
df_s9_wareham=df_s9[df_s9['bowler']=='G Wareham']

In [691]:
sum(df_s9_wareham['runs_off_bat'])/len(df_s9_wareham)*6
#georgia wareham's economy

7.897435897435898

In [692]:
df_s9_wareham['wicket_type'].unique()

array([nan, 'caught', 'lbw', 'bowled'], dtype=object)

In [693]:
wareham_outs=['caught','lbw','bowled']

In [694]:
len(df_s9_wareham[df_s9_wareham['wicket_type'].isin(wareham_outs)])
#wickets by wareham this wbbl in 91 balls

8

In [695]:
#Georgia Wareham: 7 wickets, Economy: 7.89, strike rate=14.64 , average= 19.25

In [696]:
df_s9_batter7=df_s9[df_s9['ball']>17]
#dataset for overs 18-20

In [697]:
batter7=pd.DataFrame(df_s9_batter7.groupby(['striker'])['runs_off_bat'].sum().sort_values(ascending=False))

In [698]:
batter7=batter7.merge(pd.DataFrame(df_s9_batter7.groupby(['striker'])['ball'].count()),on='striker')

In [699]:
batter7['strike_rate']=batter7['runs_off_bat']/batter7['ball']*100

In [700]:
batter7=batter7[batter7['runs_off_bat']>20]

In [701]:
df_s9_b7_sixes=df_s9_batter7[df_s9_batter7['runs_off_bat']==6]

In [702]:
s7=pd.DataFrame(df_s9_b7_sixes.groupby(['striker'])['runs_off_bat'].count())

In [703]:
df_s9_b7_fours=df_s9_batter7[df_s9_batter7['runs_off_bat']==4]

In [704]:
s7.rename(columns={'runs_off_bat':'sixes_18_20'},inplace=True)

In [705]:
batter7=batter7.merge(s7,on='striker')

In [706]:
f7=pd.DataFrame(df_s9_b7_fours.groupby(['striker'])['runs_off_bat'].count())

In [707]:
f7.rename(columns={'runs_off_bat':'fours_18_20'},inplace=True)

In [708]:
batter7=batter7.merge(f7,on='striker')

In [709]:
batter7['balls/boundary']=batter7['ball']/(batter7['sixes_18_20']+batter7['fours_18_20'])

In [710]:
batter7.sort_values(by='strike_rate',ascending=False)
#Best batters at the Number 7 position

              runs_off_bat  ball  strike_rate  sixes_18_20  fours_18_20  balls/boundary
striker
GM Harris     32            11    290.909091   4            1            2.200000
G Wareham     50            21    238.095238   2            6            2.625000
P Litchfield  37            16    231.250000   4            1            3.200000
SJ Coyte      42            19    221.052632   4            2            3.166667
CR Knott      37            20    185.000000   2            5            2.857143
A King        38            23    165.217391   1            5            3.833333
M Hinkley     28            19    147.368421   2            1            6.333333

In [711]:
#fours and sixes are all you need in the last three overs from a number 7 batter and a coupled effect of low Balls/boundary
#and high SR make a perfect number 7

In [712]:
#Harris and Wareham are already in the team which leaves us with 3 serious candidates:
#CR Knott, SJ Coyte, P Litchfield
#Knott has the highest efficiency of hitting a boundary whereas Litchfield and Coyte both have extraordinary Strike rates

In [713]:
#Litchfield has batted at number 3 in this season which rules her out
#Sarah Coyte has a much better SR than Knott and just lacks in the balls/boundary metric

In [714]:
#Number 7: Sarah Coyte[Renegades]

In [715]:
#current bowling options : Atthapattu, Devine, Wareham, Coyte

In [716]:
pp_bowler=pd.DataFrame(df_s9_pp1.groupby(['bowler'])['wicket_type'].count().sort_values(ascending=False))
#dataset for powerplay bowler

In [717]:
pp_bowler=pp_bowler.merge(pd.DataFrame(df_s9_pp1.groupby(['bowler'])['runs_off_bat'].sum()+df_s9_pp1.groupby(['bowler'])['extras'].sum()),on='bowler')

In [718]:
pp_bowler=pp_bowler.merge(pd.DataFrame(df_s9_pp1.groupby(['bowler'])['ball'].count()),on='bowler')

In [719]:
pp_bowler.rename(columns={0:'runs_given'},inplace=True)

In [720]:
pp_bowler['economy']=pp_bowler['runs_given']/pp_bowler['ball']*6

In [721]:
pp_bowler=pp_bowler[pp_bowler['ball']>20]

In [722]:
pp_bowler.sort_values(by='economy',inplace=True)

In [723]:
total_bowls=pd.DataFrame(df_s9.groupby(['bowler'])['ball'].count())

In [724]:
total_bowls.rename(columns={'ball':'total_balls'},inplace=True)

In [725]:
pp_bowler=pp_bowler.merge(total_bowls,on='bowler')

In [726]:
pp_bowler['pp_percentage']=pp_bowler['ball']/pp_bowler['total_balls']*100

In [727]:
pp_bowler
#Top Bowlers in the Powerplay

              wicket_type  runs_given  ball    economy  total_balls  pp_percentage
bowler
M Kapp        2            24          36    4.000000   73           49.315068
ML Schutt     3            43          58    4.448276   102          56.862745
CC Ainsworth  4            33          42    4.714286   94           44.680851
AC Jayangani  1            20          24    5.000000   85           28.235294
JL Jonassen   1            20          24    5.000000   121          19.834711
AC Mushangwe  2            32          37    5.189189   91           40.659341
S Ismail      0            35          37    5.675676   88           42.045455
HK Matthews   1            61          60    6.100000   116          51.724138
CR Knott      1            31          29    6.413793   83           34.939759
SFM Devine    1            28          26    6.461538   96           27.083333
S Day         2            41          38    6.473684   117          32.478632
KJ Garth      3            64          57    6.736842   113          50.442478
NM Hancock    2            55          48    6.875000   108          44.444444
E Hayward     1            45          36    7.500000   74           48.648649
JM Kerr       0            48          36    8.000000   63           57.142857
SL Bates      0            33          24    8.250000   86           27.906977
L Cheatle     0            63          44    8.590909   124          35.483871
S Campbell    0            31          21    8.857143   42           50.000000
M Strano      1            38          24    9.500000   66           36.363636
A Gardner     1            41          24    10.250000  114          21.052632

In [728]:
#Kapp, Schutt, Ainsworth and Mushangwe have been the best powerplay bowlers so far
#Selecting Kapp would mean a 4th overseas player which is not in accordance to WBBL rules
#Ainsworth has been one of the best young talents this year while Schutt has been a WBBL legend
#Mushangwe provides the spin variety
#Atthapattu and Devine (already in our team) have also bowled miserly in the powerplay and can be used for an over or two.
#Megan Schutt is one of the bowlers whereas Ainsworth and Mushangwe will be examined further

In [729]:
#Number 8: Megan Schutt[Strikers]

In [730]:
df_s9_mid=df_s9[(df_s9['ball']>4)& (df_s9['ball']<15)]
#Datset for the middle overs : 5-15

In [731]:
mid_bowlers=pd.DataFrame(df_s9_mid.groupby(['bowler'])['wicket_type'].count().sort_values(ascending=False))

In [732]:
mid_bowlers=mid_bowlers.merge(pd.DataFrame(df_s9_mid.groupby(['bowler'])['runs_off_bat'].sum()+
                                           df_s9_mid.groupby(['bowler'])['extras'].sum()),on='bowler')

In [733]:
mid_bowlers=mid_bowlers.merge(pd.DataFrame(df_s9_mid.groupby(['bowler'])['ball'].count()),on='bowler')

In [734]:
mid_bowlers=mid_bowlers[mid_bowlers['ball']>20]

In [735]:
mid_bowlers.rename(columns={0:'runs_given'},inplace=True)

In [736]:
mid_bowlers['economy']=mid_bowlers['runs_given']/mid_bowlers['ball']*6

In [737]:
mid_bowlers['average']=mid_bowlers['runs_given']/mid_bowlers['wicket_type']
mid_bowlers['strike_rate']=mid_bowlers['ball']/mid_bowlers['wicket_type']

In [738]:
mid_bowlers
#best middle over bowlers

                wicket_type  runs_given  ball   economy    average  strike_rate
bowler
A Wellington    7            39          62    3.774194  5.571429   8.857143
G Wareham       7            123         92    8.021739  17.571429  13.142857
A King          6            78          74    6.324324  13.000000  12.333333
A Sutherland    6            101         82    7.390244  16.833333  13.666667
CG Sippel       6            82          78    6.307692  13.666667  13.000000
ML Schutt       5            39          31    7.548387  7.800000   6.200000
M Brown         5            93          69    8.086957  18.600000  13.800000
HK Matthews     5            24          24    6.000000  4.800000   4.800000
L Mills         5            73          50    8.760000  14.600000  10.000000
S Day           5            62          67    5.552239  12.400000  13.400000
HJ Darlington   4            110         67    9.850746  27.500000  16.750000
AL Edgar        4            48          49    5.877551  12.000000  12.250000
S Glenn         4            113         84    8.071429  28.250000  21.000000
CR Knott        4            57          48    7.125000  14.250000  12.000000
H Kaur          4            52          44    7.090909  13.000000  11.000000
H Graham        3            91          62    8.806452  30.333333  20.666667
TM McGrath      3            36          39    5.538462  12.000000  13.000000
A Gardner       3            45          42    6.428571  15.000000  14.000000
HC Knight       3            64          54    7.111111  21.333333  18.000000
P Cleary        3            93          57    9.789474  31.000000  19.000000
L Cheatle       3            39          37    6.324324  13.000000  12.333333
AC Mushangwe    3            58          42    8.285714  19.333333  14.000000
AC Jayangani    3            44          31    8.516129  14.666667  10.333333
JL Jonassen     3            54          55    5.890909  18.000000  18.333333
MH Illingworth  2            42          32    7.875000  21.000000  16.000000
ML Gibson       2            38          36    6.333333  19.000000  18.000000
S Campbell      2            22          21    6.285714  11.000000  10.500000
SFM Devine      2            55          50    6.600000  27.500000  25.000000
SJ Coyte        2            100         85    7.058824  50.000000  42.500000
A Capsey        2            51          42    7.285714  25.500000  21.000000
JL Barsby       2            46          36    7.666667  23.000000  18.000000
JM Kerr         2            24          21    6.857143  12.000000  10.500000
CL Tryon        2            85          79    6.455696  42.500000  39.500000
DR Gibson       2            37          26    8.538462  18.500000  13.000000
G Prestwidge    2            65          46    8.478261  32.500000  23.000000
E Hoskin        2            52          42    7.428571  26.000000  21.000000
NM Hancock      1            36          23    9.391304  36.000000  23.000000
A Smith         1            42          31    8.129032  42.000000  31.000000
S Ismail        1            49          41    7.170732  49.000000  41.000000
CC Ainsworth    1            35          31    6.774194  35.000000  31.000000
E Hayward       1            36          26    8.307692  36.000000  26.000000
K Peterson      1            68          46    8.869565  68.000000  46.000000
EA Burns        1            51          33    9.272727  51.000000  33.000000
G Voll          1            43          42    6.142857  43.000000  42.000000
M Strano        1            23          24    5.750000  23.000000  24.000000
R McKenna       1            41          25    9.840000  41.000000  25.000000
KJ Garth        0            28          31    5.419355  inf        inf
SK Moloney      0            69          49    8.448980  inf        inf
SL Bates        0            54          44    7.363636  inf        inf

In [739]:
#there are 3 leg spinners at the top : Wellington, Wareham, King, followed by Sutherland, Sippel, Edgar
#The leg spinners have not bowled in the surge yet
#Wareham has been expensive but is already in our team as a number 6 batter
#Wellington's scarcely believable economy, strike rate and average make it really hard to ignore her
#Mushangwe has been really expensive in this phase whereas Ainsworth has been miserly.

In [740]:
#number 9: Amanda Jade Wellington[Strikers]

In [741]:
surge_bowlers=pd.DataFrame(power_surge.groupby(['bowler'])['wicket_type'].count().sort_values(ascending=False))

In [742]:
surge_bowlers=surge_bowlers.merge(pd.DataFrame(power_surge.groupby(['bowler'])['runs_off_bat'].sum()+
             power_surge.groupby(['bowler'])['extras'].sum().sort_values(ascending=False)),on='bowler')

In [743]:
surge_bowlers.rename(columns={0:'runs_given'},inplace=True)

In [744]:
surge_bowlers=surge_bowlers.merge(pd.DataFrame(power_surge.groupby(['bowler'])['ball'].count().sort_values(ascending=False)),
                                  on='bowler')

In [745]:
surge_bowlers['economy']=surge_bowlers['runs_given']/surge_bowlers['ball']*6

In [746]:
surge_bowlers.sort_values(by='economy')
#Bowlers at the Power Surge

               wicket_type  runs_given  ball    economy
bowler
SJ Johnson     0            2           6     2.000000
A Capsey       1            2           6     2.000000
AC Jayangani   1            10          12    5.000000
JL Jonassen    2            18          18    6.000000
L Cheatle      4            32          31    6.193548
S Glenn        3            13          12    6.500000
S Day          2            20          18    6.666667
AL Edgar       1            14          12    7.000000
SL Bates       0            7           6     7.000000
A Sutherland   4            33          28    7.071429
SFM Devine     2            23          18    7.666667
M Kapp         2            17          13    7.846154
A Gardner      4            40          30    8.000000
DR Gibson      0            8           6     8.000000
HK Matthews    5            35          25    8.400000
NM Hancock     1            36          24    9.000000
ML Schutt      3            27          18    9.000000
S Ismail       0            36          20    10.800000
H Graham       0            35          19    11.052632
SJ Coyte       3            47          24    11.750000
CG Sippel      0            12          6     12.000000
HJ Darlington  2            27          13    12.461538
AC Mushangwe   1            25          12    12.500000
P Cleary       0            28          13    12.923077
SK Moloney     0            19          7     16.285714
L Mills        0            22          6     22.000000

In [747]:
sum(power_surge['runs_off_bat']+power_surge['extras'])/len(power_surge)*6
#avg runs per over at the power surge

8.754342431761787

In [748]:
#Sutherland, Jonassen, Cheatle , Matthews , Glenn, Day come across as the 'surge specialists'
#Matthews is primarily a batter and has been expensive despite her wickets
#Lauren Cheatle offers the best economy and wicket taking ability option

In [749]:
df_s9_death=df_s9[df_s9['ball']>15]
#Dataset for death bowlers (overs 16-20)

In [750]:
death_bowler=pd.DataFrame(df_s9_death.groupby(['bowler'])['wicket_type'].count().sort_values(ascending=False))

In [751]:
death_bowler=death_bowler.merge(pd.DataFrame(df_s9_death.groupby(['bowler'])['runs_off_bat'].sum()+
             df_s9_death.groupby(['bowler'])['extras'].sum().sort_values(ascending=False)),on='bowler')

In [752]:
death_bowler.rename(columns={0:'runs_given'},inplace=True)

In [753]:
death_bowler=death_bowler.merge(pd.DataFrame(df_s9_death.groupby(['bowler'])['ball'].count()),on='bowler')

In [754]:
death_bowler['death_economy']=death_bowler['runs_given']/death_bowler['ball']*6

In [755]:
death_bowler.sort_values(by='death_economy',inplace=True)

In [756]:
death_bowler=death_bowler[death_bowler['ball']>20]

In [757]:
death_bowler

              wicket_type  runs_given  ball  death_economy
bowler
AC Jayangani  1            34          30    6.800000
AL Edgar      5            43          37    6.972973
A Wellington  1            29          24    7.250000
A Sutherland  3            28          23    7.304348
KJ Garth      1            31          25    7.440000
A Capsey      5            68          52    7.846154
A Gardner     7            68          48    8.500000
NM Hancock    2            54          37    8.756757
CG Sippel     0            47          31    9.096774
CC Ainsworth  3            33          21    9.428571
L Cheatle     8            69          43    9.627907
H Graham      1            41          25    9.840000
SK Moloney    0            44          26    10.153846
HK Matthews   2            55          32    10.312500
G Wareham     1            43          25    10.320000
JL Jonassen   5            76          42    10.857143

In [758]:
#Edgar has a death economy of 6.97 , far better than the touranment average of 9.26
#Sutherland is not too behind with 7.3 
#rest of the bowlers don't have the amount of wickets or the economy to match these 2 at the death.
#Edgar's overall middle, surge and death performance means she wins the battle.

In [759]:
#number 11: Amy Edgar[Scorchers]

In [760]:
sum(df_s9_death['runs_off_bat']+df_s9_death['extras'])/len(df_s9_death)*6
#Average runs per over at the death (overs:16-20)

9.25643666323378

In [761]:
#Final Team

#Number 1: Grace Harris[Heat]
#Number 2: Beth Mooney[Scorchers] (wicket-keeper)
#Number 3: Chamari Atthapattu[Thunder]
#Number 4: Sophie Devine[Scorchers] (captain)
#Number 5: Annabel Sutherland[Stars]
#Number 6: Georgia Wareham[Renegades]
#Number 7: Sarah Coyte[Renegades]
#Number 8: Amy Edgar[Scorchers]
#number 9: Amanda Jade Wellington[Strikers]
#number 10: Lauren Cheatle[Sixers]
#number 11: Megan Schutt[Strikers]

In [762]:
pp1_batters.to_csv('pp1_batters.csv')

In [763]:
#Conversion of Pandas Data Frames to Excel
batter3.to_csv('batter3.csv')
batter4.to_csv('batter4.csv')
batter5.to_csv('batter5.csv')
batter6.to_csv('batter6.csv')
batter7.to_csv('batter7.csv')
pp_bowler.to_csv('pp_bowler.csv')
mid_bowlers.to_csv('mid_bowlers.csv')
death_bowler.to_csv('death_bowler.csv')
surge_bowlers.to_csv('surge_bowlers.csv')

In [764]:
sfm=df_s9[df_s9['bowler']=='SJ Coyte']

In [765]:
outs=['bowled','lbw','caught','stumped','caught and bowled']

In [766]:
sum(sfm['runs_off_bat']), len(sfm), sum(sfm['runs_off_bat'])/ len(sfm)*6, len(sfm[sfm['wicket_type'].isin(outs)]),

(119, 103, 6.932038834951456, 5)

In [767]:
sum(sfm['runs_off_bat'])/len(sfm[sfm['wicket_type'].isin(outs)]), len(sfm)/len(sfm[sfm['wicket_type'].isin(outs)])

(23.8, 20.6)